:root {
    --white: rgb(255, 255, 255);
    --red: rgb(250, 12, 12);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    border: 5px solid var(--red);
    min-width: 810px;
}

button:not(.level), input {
    font-size: 1rem;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
}

button:hover {
    cursor: pointer;
    background-color: rgb(250 12 12 / 80%);
}

header {
    padding: 10px 0 ;
    display: flex;
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
}

#levels {
    display: grid;
    grid-template-columns: repeat(auto-fit, 26rem);
    grid-auto-rows: 20rem;
    gap: 10px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.level-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.level {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
}

.level-container .bottom {
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

#game-selection>.leaderboard, #over {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--red);
    border-radius: 10px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard>*:not(:first-child), #over>*:not(:first-child):not(button){
    background-color: var(--white);
}

#over input {
    background-color: var(--white);
    border: 2px solid  var(--red);
    color: black;
}

#over>*{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard h3, .leaderboard .buttons {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--white);
    font-size: 1.5rem;
}

#scores {
    max-height: 35vh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
}

.buttons {
    border-radius: 0 0 8px 8px;
}

.score {
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.score p {
    width: 30%;
}

.score p:first-of-type {
    font-weight: bold;
}

.score p:last-of-type {
    font-style: italic;
    text-align: center;
}

#player-score {
    padding: 8px;
    border: 2px solid var(--red);
    border-radius: 6px;
    margin-bottom: 8px;
}

input {
    margin-right: 8px;
}

#form>p {
    font-size: 1.2rem;
    font-weight: bold;
}

#over .buttons button {
    align-self: flex-end;
    margin: 6px;
}

.leaderboard .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#game {
    position: relative;
}

#game img {
    width: 100%;
    min-width: 800px;
}

#game-ui {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
}

#to-home:hover {
    cursor: pointer;
    text-decoration: underline;
}

#to-find {
    display: flex;
    width: 60%;
    height: 100%;
}

.character {
    display: flex;
    width: 30%;
    align-items: center;
    gap: 2px;
}

.character img {
    max-height: 100%;
}

#game-ui .found {
    color: rgb(255 255 255 / 60%);
}

#game-ui .found img {
    filter: sepia();
}

#circle {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px dashed red;
    flex-shrink: 0;
}

#picker {
    position: absolute;
    background-color: gray;
    display: flex;
    flex-direction: column;
    transform: translateY(-25%);
}

.circle.found {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid gray;
    background-color: rgba(82, 82, 82, 0.7);
    flex-shrink: 0;
}

#preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: inset 100vw 100vh rgba(82, 82, 82, 0.9);
}

#message {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-25%);
    background-color: var(--red);
    color: var(--white);
    width: fit-content;
    border-radius: 6px;
    z-index: 1;
}

#message p {
    padding: 6px 12px;
    font-size: 1.2rem;
}
