* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    padding: 10px;
}

#game {
    position: relative;
    margin: 20px;
}

#modal {
    position: absolute;
    display: flex;
    gap: 10px;
}

#circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px dashed red;
    flex-shrink: 0;
}

#picker {
    background-color: gray;
}

.found {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid gray;
    background-color: rgba(82, 82, 82, 0.7);
    flex-shrink: 0;
}
